@bg: #262626;
@primary: #D6D6D6;
@green: #50E3C2;
@height: 600px;
@border: 5px;
@width: (2/3) * @height;

html, body {
    :focus {
      outline-color: transparent;
      outline-style: none;
    }
    
    width: 100%;
    height: 100%;
    font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;

    .hidden {
        display: none;
    }

    #dashboard {
        width: 100%;
        height: 100%;
        background-color: white;
        display: none;

        header {

        }
    }

    #stage {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        background-color: @bg;

        #carousel {
            margin-bottom: 100px;
            bottom: 0;
            min-width: 100%;
            height: @height+10px;
            overflow-y: hidden;
            text-align: left;
            clear: right;
            display: block;

            .item {
                display: inline-block;
                position: relative;
                background-color: white;
                margin-right: 80px;
                padding: 5px;
                width: @width;
                font-size: 0 !important;
                content: " ";
                box-shadow: 0 0 5px 1px rgba(0,0,0,0.6);

                .mark {
                    position: absolute;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin: 35;
                    margin-top: 200px;
                    height: 200px;
                    z-index: 4;
                    background-size: 100% 100%;
                    opacity: 0.7;

                    &.default {
                        opacity:0;
                        transform:scale(5,5);             
                    }

                    &.check {
                        transition-duration:500ms;
                        margin-left: 74px;
                        width: 251px;
                        background-image: url("../img/like.png");
                    }
                    &.x {
                        transition-duration:500ms;
                        margin-left: 100px;
                        width: 200px;
                        background-image: url("../img/dislike.png");
                    }
                    &.close {

                    }
                    &.d {
                    }
                }

                img {
                    height: @height;
                    width: @width;
                }

                .dark {
                    position: absolute;
                    z-index: 3;
                    margin-left: -5px;
                    margin-top: -5px;
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    height: 100%;
                }
            }
        }

        #controls {
            display: block;
            position: relative;
            height: 100px;
            margin: 70px 0;
            width: 100%;
            clear: both;
            
            button {
                float: left;
                height: 38px;
                width: 38px;
                background: none;
                border: 0;
                padding: 0;
                margin: 0;
                margin-right: 15px;
                background-repeat: no-repeat;
                content: '';
                opacity: 0.5;
                font-size: 0pt;
                cursor: pointer;
                transition: 0.2s all linear;
                &:hover {
                    opacity: 1;
                }
            }

            span {
                float: left;
                display: block;
                line-height: 38px;
                color: rgba(255, 255, 255, 0.5);
                text-align: left;
                clear: right;
                transition: 0.2s all linear;
            }

            #left {
                padding-top: 20px;
                float: left;
                position: absolute;
                left: 0; 
                top: 0;
                bottom: 0;
                width: 200px;

                span {
                    float: right;
                }
                button {
                    float: right;
                    background-image: url("../img/key_left.png");
                    &.active,:active {
                        background-image: url("../img/key_left_active.png");
                    }
                }
                &:hover,&.white {
                    button {
                        opacity: 1;
                    }
                    span {
                        color: white;
                    }
                }
            }
            #center {
                text-align: center;
                width: 150px;
                margin: 0 auto;
                #up {
                    padding-top: 7px;
                    height: 38px;
                    display: block;
                    button {
                        background-image: url("../img/key_up.png");
                        &.active,:active {
                            background-image: url("../img/key_up_active.png");
                        }
                    }
                    &:hover,&.white {
                        button {
                            opacity: 1;
                        }
                        span {
                            color: white;
                        }

                    }
                }

                #down {
                    height: 38px;
                    margin-top: 10px;
                    display:block;
                    button {
                        background-image: url("../img/key_down.png");
                        &.active,:active {
                            background-image: url("../img/key_down_active.png");
                        }
                    }
                    &:hover,&.white {
                        button {
                            opacity: 1;
                        }
                        span {
                            color: white;
                        }
                    }
                }
            }
            #right {
                padding-top: 20px;
                float: left;
                position: absolute;
                right: 0; 
                top: 0;
                bottom: 0;
                width: 200px;
                float: right;
                
                button {
                    margin: 0;
                    margin-left: 15px;
                    background-image: url("../img/key_right.png");
                    &.active,:active {
                        background-image: url("../img/key_right_active.png");
                    }
                }
                span {
                    text-align: right;
                }
                &:hover,&.white {
                    button {
                        opacity: 1;
                    }
                    span {
                        color: white;
                    }
                }
            }
        }

        #done {
            width: 100%;
            text-align: center;
            font-size: 12pt;
            color: @green;
            #scrollToDash {
                font-size: 12pt;
                background-color: @bg;
                color: @green;
                border: 1px solid @green;
                padding: 6px 8px;
                border-radius: 6px;
                cursor: pointer;
                transition: 0.2s all linear;

                &:hover {
                    background-color: @green;
                    outline: none;
                    color: @bg;
                }
            }
        }
    }
}